.mask-first{
    position: absolute;
    top:90px;
    left:20%;
    right:20%;
    width:60%;
    height:19vw;
    /*background:rgba(0,0,0,.3);*/
    display: block;
}
.mask-second{
    position: absolute;
    top:90px;
    margin-top:20vw;
    left:20%;
    right:20%;
    width:60%;
    height:18vw;
    /*background:rgba(0,0,0,.3);*/
    display: block;
}
.mask-three{
    position: absolute;
    top:90px;
    margin-top:39vw;
    left:20%;
    right:20%;
    width:60%;
    height:38vw;
    /*background:rgba(0,0,0,.3);*/
    display: block;
}