.registration{
    width: 1000px;
    height: 600px;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border: none;
    -moz-box-shadow:0 0 2px rgba(0,0,0,.5);
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.5);
    box-shadow:0 0 2px rgba(0,0,0,.5);
}
.registration div{
    overflow:hidden;
    margin-top: 20px;
}
.registration-title{
    font-size:30px;
    color: #ff7f26;
    text-align: center;
    margin-top:50px;
    font-family: "微软雅黑 Light";
    letter-spacing:5px;
}
.registration-txt{
    font-size:20px;
    color:#000;
    text-align: center;
    margin-top:50px;
    font-family: "微软雅黑";
}
.registration .account{
    width:390px;
    height:60px;
    border:1px solid #999;
    border-radius:2px;
    font-size: 24px;
}
.registration .authentication{
    width:240px;
    height:60px;
    border:1px solid #999;
    border-radius:2px;
    font-size: 24px;
}
.registration .authentication-get{
    width:140px;
    height:62px;
    border:1px solid #999;
    border-radius:2px;
    background: #ff7f26;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.registration .authentication-get:hover{
    color: #fff !important;
}
.registration .setting{
    width:390px;
    height:60px;
    border:1px solid #999;
    border-radius:2px;
    font-size: 24px;
}
.registration .determine{
    width:390px;
    height:60px;
    border:1px solid #999;
    border-radius:2px;
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
    color: #Fff;
    background: #ff7f26;
    font-size: 24px;
}
.registration .determine:hover{
    color: #fff !important;
}
