.registration{
    width: 1000px;
    height: 600px;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border: none;
    -moz-box-shadow:0 0 2px rgba(0,0,0,.5);
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.5);
    box-shadow:0 0 2px rgba(0,0,0,.5);
}
.registration div{
    overflow:hidden;
    margin-top: 20px;
}

.registration-title{
    font-size:30px;
    color: #ff7f26;
    text-align: center;
    margin-top:50px;
    font-family: "微软雅黑 Light";
    letter-spacing:5px;
}
.registration-txt{
    font-size:20px;
    color:#000;
    text-align: center;
    margin-top:50px;
    font-family: "微软雅黑";
}
.registration .account{
    width:350px;
    height:40px;
    border:1px solid #999;
    border-radius:2px;
    font-size: 14px;
    line-height: 40px;
}
.registration .authentication{
    width:220px;
    height:40px;
    border:1px solid #999;
    border-radius:2px;
    font-size: 14px;
    line-height: 40px;
}
.registration .authentication-get{
    width:120px;
    height:42px;
    border:1px solid #999;
    border-radius:2px;
    background: #ff7f26;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    line-height: 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.registration .authentication-get:hover{
    color: #fff !important;
}
.registration .setting{
    width:350px;
    height:40px;
    border:1px solid #999;
    border-radius:2px;
    font-size: 14px;
    line-height: 40px;
}
.registration .determine{
    width:350px;
    height:40px;
    border:1px solid #999;
    border-radius:2px;
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
    color: #Fff;
    background: #ff7f26;
    font-size: 14px;
    line-height: 40px;
}
.registration .determine:hover{
    color: #fff !important;
}
.first-margin{
   margin-top: 70px !important;
}
@media screen and (min-height: 760px) and (max-height: 850px){
    .registration{
        width: 600px;
        height:500px;
        position: absolute;
        top:45%;
        left:45%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        border: none;
        -moz-box-shadow:0 0 2px rgba(0,0,0,.5);
        -webkit-box-shadow:0 0 2px rgba(0,0,0,.5);
        box-shadow:0 0 2px rgba(0,0,0,.5);
    }
    .registration div{
        overflow:hidden;
        margin-top: 20px;
    }

    .registration-title{
        font-size:30px;
        color: #ff7f26;
        text-align: center;
        margin-top:30px;
        font-family: "微软雅黑 Light";
        letter-spacing:5px;
    }
    .registration-txt{
        font-size:20px;
        color:#000;
        text-align: center;
        margin-top:50px;
        font-family: "微软雅黑";
    }
    .registration .account{
        width:300px;
        height:40px;
        border:1px solid #999;
        border-radius:2px;
        font-size: 14px;
        line-height: 40px;
    }
    .registration .authentication{
        width:195px;
        height:40px;
        border:1px solid #999;
        border-radius:2px;
        font-size: 14px;
        line-height: 40px;
    }
    .registration .authentication-get{
        width:95px;
        height:42px;
        border:1px solid #999;
        border-radius:2px;
        background: #ff7f26;
        display: inline-block;
        color: #fff;
        vertical-align: middle;
        line-height: 40px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
    .registration .authentication-get:hover{
        color: #fff !important;
    }
    .registration .setting{
        width:300px;
        height:40px;
        border:1px solid #999;
        border-radius:2px;
        font-size: 14px;
        line-height: 40px;
    }
    .registration .determine{
        width:300px;
        height:40px;
        border:1px solid #999;
        border-radius:2px;
        display: inline-block;
        line-height: 60px;
        font-size: 20px;
        color: #Fff;
        background: #ff7f26;
        font-size: 14px;
        line-height: 40px;
    }
    .registration .determine:hover{
        color: #fff !important;
    }
    .first-margin{
        margin-top:50px !important;
    }
    
}